/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 .player {
 	text-align: center;
 }
.player.cat {
	display: inline-block;
	position: absolute;
}
.player.cat:not(.attack) {
	background-image: url("/assets/cat.png");
}
.player.cat.attack {
	background-image: url("/assets/cat_attack.jpg");
}
.player.mouse {
	background-image: url("/assets/mouse.jpg");
	display: inline-block;
	position: absolute;
	background-size: 100%;
	z-index: 1;
}

.player .name {
	color: green;
}
.player.killed .name {
	color: red;
}
.player.killed .name:after {
	content: ' KILLED';
}

#world {
	top: 50%;
	left: 50%;
 	cursor: none;
	display: inline-block;
	position: absolute;
	border: solid green 1px;
}
#hud {
	width: 200px;
 	cursor: auto;
	display: inline-block;
	position: absolute;
	border: solid yellow 1px;
}
#chat {
	height: 50%;
	border: 3px solid rgba(221, 189, 255, 0.59);
	border-left: none;
	border-right: none;
	position: relative;
	background-color: rgba(221, 189, 255, 0.59);
}
#messages {
	overflow-y: auto;
	overflow-x: hidden;
}
.message {
	border: 1px solid black;
	font-size: 9px;
	color: white;
	width: 100%;
	word-wrap: break-word;
}
.message.notify {
	background: purple;
}
.message.chat {
	background: blue;
}
#msg-send {
	bottom: 0px;
	position: absolute;
	left: 0px;
}
#msg-input {
	height: 2em;
	position: relative;
	margin-bottom: -3px;
}

#name-change {
	padding: 10px;
	display: table;
}
#name-change .head {
	display: table-cell;
	width: 50%;
	text-align: center;
}
#name-change #name-input {
	display: table-cell;
	width: 100px;
	text-align: center;
}